*{
    margin: 0;
    padding: 0;
}

.sec{
    display: flex;
    margin-top: 25px;
    margin-left: 150px;
    margin-top: 8%;
}

  .ll a{
    color: rgb(20, 158, 244);
    text-decoration: none;
    margin-right: 3px;
   
}

 .l1{
    color: rgb(20, 158, 244);
    margin-right: 8px;
    margin-left: 6px;
}

 .l2{
    margin-left: 6px;
}

 .l3{
    margin-top: 95px;
    margin-left: 14%;
}

.evo{
    color: brown;
    margin-top: 5%;
    margin-left: 12%;
}



 .container8{
   width: 78%;
   padding-top: 3px;
   min-height: 42vh;
   background-color: #f9f9f9;
   margin-top: 8px;
   margin-left: 12%;
 }

 .section-content{
   float: left;
   width: 58%;
 }

 .content{
   margin-left: 45px;
   margin-top: 95px;
}
 
 p{
   margin-top: 25px;
   font-size: larger;
   color: black;
 }
 .image-section{
   float: right;
   width: 42%;
   margin-top: 2%;
}

.evo1{
    margin-top: 2%;
    margin-left: 12%;
    font-weight: normal;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .title{
    padding: 20px 16px;
  }
  
  .tx{
    margin-bottom: 38px;
  }

 .tx1{
    margin-bottom: 10px;
  }

  .tx2{
    margin-bottom: 15px;
  }
  .container9{
    box-sizing: border-box;
    position: relative;
    width: 78%;
    margin-left: 12%;
}
  .column1 {
    float: left;
    width: 32%;
    padding: 7px;
    position: relative;
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
    content: "";
    clear: both;
    display: table;
    
  }
  @media (max-width: 1080px)
  {
    .container9{
      margin-bottom: 100px;
    }
  }

  @media (max-width: 468px)
  {
    .sec{
      margin-top: 28%;
      flex-wrap: wrap;
      margin-left: 2%;
  }

  
  .evo{
    margin-left: 10%;
    font-size: 22px;
  }
  
   .container8{
    max-width: 100%;
    height: auto;
    padding: 50px;
   }
  
   .section-content{
     float: none;
     width: 100%;
   }
  
   .content{
     margin-left: 0px;
     margin-top: 0px;
     font-size: 12px;
  }

   .image-section{
     float: none;
     width: 100%;
     margin-top: 2%;
  }

   .image-section img{
    width: 100%;
   }
  
  .evo1{
      margin-top: 2%;
      margin-left: 12%;
      font-size: 22px;
  }
  
  .container9{
      max-width: 100%;
      margin-left: 12%;
  }
    .column1 {
      float: none;
      width: 100%;
      padding: 7px;
    }
    
    /* Clearfix (clear floats) */
    .row1::after {
      content: "";
      clear: both;
      display: table;
      
    }
  
  }
  